body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    font-family: "Titillium web", sans-serif;
}

.container {
    width: 380px;
    max-width: 380px;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
}

.head {
    background-image: url('IMG-20170131-WA0006.jpg');
    height: 200px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    position: relative;
}

#refresh {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#refresh i {
    transition: 0.5s;
}

#refresh i:hover {
    transform: rotate(45deg);
    text-shadow: 3px 3px 5px #000;
    transition: 1s;
}

#refresh i:active {
    transform: scale(1.1);
}

#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.content {
    height: 350px;
    width: 380px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.content ul {
    padding: 0;
    margin: 0;
}

.item {
    width: 380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item i.co {
    position: absolute;
    font-size: 25px;
    padding-left: 5px;
    left: 15px;
    top: 10px;
}

.item i.co:hover {
    cursor: pointer;
}

.fa-check-circle {
    color: #6eb200;
}

.item .text {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 20px;
    left: 50px;
    top: 9px;
    background-color: #FFF;
    max-width: 285px;
}

.lineThrough {
    text-decoration: line-through;
    color: #ccc;
}

.item .de {
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 10px;
}

.item .de:hover {
    color: #af0000;
    cursor: pointer;
}

.add-item {
    position: relative;
    width: 360px;
    height: 40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.add-item i {
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-item input {
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: white;
    border: 1px black;
    font-size: 20px;
    padding-left: 10px;
}