body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    font-family: "Titillium web", sans-serif;
}

.container {
    width: 380px;
    max-width: 380px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.head {
    background-image: url('IMG-20170131-WA0006.jpg');
    height: 200px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    position: relative;
}

#refresh {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#refresh i {
    transition: 0.5s;
}

#refresh i:hover {
    transform: rotate(45deg);
    text-shadow: 3px 3px 5px #000;
    transition: 1s;
}

#refresh i:active {
    transform: scale(1.1);
}

#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}